#formContainer {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

}

label {
    padding: 10px;

}

input {
    width: 200px;
    height: 20px;
}

button {
    width: 100px;
    height: 30px;
    background-color: rgb(255, 0, 0);
    color: white;
    margin-left: 50px;
    font-weight: bold;
}

#addMovieButton {
    width: 200px;
    height: 30px;
    background-color: blue;
    color: white;
    margin-left: 50px;
    font-weight: bold;
}